.brand-logo-dark {
	margin-right:15px;
}

h4 a {
	text-decoration: underline;
  }

  .rd-navbar-panel {
	display: inline-flex;
	
  }

.section1 {
	padding-top: 50px;
	padding-bottom: 50px;
} 


.data-parallax-img {
	height: auto;
}

<!-- create class for top section and specify spacing -->



  #weekHeader {
	height: 2%;  
  }
  
  .headerDay {
	width: calc(100vw / 7);
  }
  
  #prev:hover, #next:hover, .day{
	cursor: pointer;
  }
  
  #header{height: 10%;
}

.day { 
	height: 200px;
	width: 200px;
}
