h4 a {
	text-decoration: underline;
  }

  .rd-navbar-panel {
	display: inline-flex;
	
  }

create class for top section and specify spacing


  #weekHeader {
	height: 2%;  
  }
  
  .headerDay {
	width: calc(100vw / 7);
  }
  
  #prev:hover, #next:hover, .day{
	cursor: pointer;
  }
  
  #header{height: 10%;
}

td {
	
}
